body {
    font-family: "IBM Plex Mono", monospace;
}


.my-text-color {
    color: rgb(196, 196, 196);
}

#SuperSecretPWD {
    color: rgb(196, 196, 196, 0);
    border: .125rem solid rgba(196, 196, 196);
    transition: box-shadow 1.5s, color 1.5s 0.3s;
}

#SuperSecretPWD:hover {
    color: rgb(196, 196, 196, 1);
    box-shadow: rgba(196, 196, 196, 0.781) 0 0 8px 8px;
}


img {
    max-height: 90px;
}